* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;
}
#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 3px 8px;
  transition: 0.3s;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px)
}
.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -3px);
}

.main-body {
  transition: margin-left 0.5s;
  padding: 20px;
  
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;
}
.main-body .active {
  left: 235px;
}